.portfolio-section {
  h1 {
    text-align: center;
    margin-top: 50px;
    font-family: "Roboto" sans-serif;
  }
  .col-div {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      width: 100%;
      img {
        width: 100%;
        height: 280px;
        border-radius: 6px;
      }
      h3 {
        font-family: "Roboto";
        color: rgb(24, 99, 171);
        margin: 10px 0px 5px;
      }
      p {
        font-family: "Poppins";
      }
      .read-more {
        a {
          text-decoration: none;
          font-family: "Roboto";
          color: red;
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 10px) and (max-width: 500px) {
  .portfolio-section {
    width: 100% !important;
    margin-bottom: 30px !important;
    h1 {
      margin: 20px 0px !important;
    }
    .col-div {
      div {
        width: 100%;
        h3 {
          text-align: center;
          margin: 5px 0px !important;
        }
        p {
          text-align: center;
          margin: 5px 0px !important;
        }
        .read-more{
          margin-bottom: 20px !important;
        }
      }
    }
  }
}
