.logo-section {
  background-color: #e9e9e994;
  padding: 20px;
  .row {
    div {
      img {
        background-color: white;
        border-radius: 5px;
        // width: 148px;
        // height: 74px;
        width: 170px;
        height: 96px;
      }
    }
  }
}

@media (min-width: 10px) and (max-width: 500px) {
  .logo-section {
    width: 100% !important;
    .row {
      display: flex !important;
      justify-content: space-around !important;

      div {
        width: 170px;
        height: 96px;
        margin: 10px 0px !important;
        img {
          background-color: white;
          border-radius: 5px;
          width: 170px;
          height: 96px;
        }
      }
    }
  }
}
