.application-section {
  .col {
    border: none;
  }

  .contact-application {
    width: 100%;
    height: 500px;
    background-color: white;
    text-align: right;
    div {
      width: 60%;
      margin: 0 auto;
      margin-top: 50px;
    }
    input {
      width: 100%;
      border: 2px solid;
      border-radius: 10px;
      padding: 10px;
      outline-color: rgb(24, 99, 171);
    }
    p {
      text-align: left;
      width: 100%;
      font-family: "Roboto";
      color: rgb(24, 99, 171);
      font-size: 20px;
      margin: 20px;
    }
    button {
      // width: 30%;
      display: block;
      margin: 0 auto;
      margin-top: 30px;
      border-radius: 20px;
      background-color: red;
      border: none;
      color: white;
      padding: 7px 40px;
    }
  }
  input::placeholder {
    font-style: italic;
  }
}

@media (min-width: 10px) and (max-width: 500px) {
  .application-section {
    .contact-application {
      div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px !important;
      }
      input {
        width: 65% !important;
        border: 2px solid;
        border-radius: 10px;
        padding: 10px !important;
        outline-color: rgb(24, 99, 171);
      }
      p {
        text-align: center;
        width: 100%;
        font-family: "Roboto";
        color: rgb(24, 99, 171);
        font-size: 20px;
        margin: 10px 0px !important;
      }
      button {
        width: 36%;
        margin-top: 20px !important;
        padding: 7px 40px !important;
      }
    }
  }
}
