.portfolio-page-section {
  .section-portfolio-page-img {
    img {
      width: 100%;
      height: 550px;
    }
  }
  .row {
    h1 {
      font-family: "Roboto";
      text-align: center;
      margin: 30px 0px;
    }
    .col-div {
      .portfolio-images {
        position: relative;
        img {
          width: 100%;
          height: 280px;
          border-radius: 5px;
        }
        .overlay {
          position: absolute;
          z-index: 5;
          background-color: rgba(53, 52, 52, 0.481);
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: 5px;
          display: none;
          span {
            a {
              color: white;
              text-decoration: none;
              border: 1px solid white;
              color: #fff;
              border-radius: 5px;
              padding: 7px 18px;
              transition: all 0.3s;
              &:hover {
                background-color: rgb(24, 99, 171);
                cursor: pointer;
              }
            }
            animation: im 1s ease;
          }
        }
        &:hover {
          .overlay {
            transition: all 0.3s;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      h3 {
        font-family: "Roboto";
        margin-top: 10px;
        color: rgb(24, 99, 171);
      }
      p {
        font-family: "Poppins";
      }
      .read-more {
        font-family: "Roboto";
        a {
          color: red;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes im {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media (min-width: 10px) and (max-width: 600px) {
  .portfolio-page-section {
    .section-portfolio-page-img {
      img {
        width: 100%;
        height: 200px;
      }
    }
    .row {
      h1 {
        margin: 15px 0px !important;
      }
      .col-div {
        .portfolio-images {
          .overlay {
            span {
              a {
                padding: 7px 18px !important;
              }
              animation: im 1s ease;
            }
          }
        }
        h3 {
          text-align: center;
          margin: 7px 0px !important;
        }
        p {
          text-align: center;
        }
        .read-more {
          text-align: center;
          margin: 7px 0px !important;
        }
      }
    }
  }
}
