.navbar-section {
  font-family: "Roboto";
  top: 0;
  position: sticky;
  z-index: 9999;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.103);

  .navbar-brand{
    .brand-name{
      color: rgb(5, 14, 118);
      font-weight: bold;
      font-size: 26px;
      // font-style: italic;
    }
  }
  .navbar-toggler {
    background-color: rgb(24, 99, 171);
    outline: none !important;
  }
  .navbar-nav {
    margin-left: 50px;

    li {
      a {
        color: inherit;
      }
      text-transform: uppercase;
      color: inherit;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      padding: 14px 12px;
      transition: all 0.3s;
      &:hover {
        cursor: pointer;
        color: rgb(24, 99, 171);
      }

      i {
        font-size: 18px;
        margin-right: 10px;
        color: rgb(24, 99, 171);
      }
    }
  }
  a {
    text-decoration: none;
  }
  .application{
    color: #fff;
    padding: 6px 20px;
    border-radius: 3px;
  }
}


@media (min-width: 168px) and (max-width: 520px) {
  * {
    margin: 0px !important;
    padding: 0px !important;
  }
  .navbar-section {
    width: 100% !important;
  }
  .navbar-nav {
    margin-left: 0px !important;
    li {
      border-bottom: 1px solid rgb(16, 85, 149);
      padding: 14px 12px !important;
      i {
        color: #fff !important;
      }
      &:hover {
        background-color: rgb(16, 85, 149);
        color: white !important;
      }
    }
  }
  .navbar-collapse {
    background-color: rgb(24, 99, 171);
    color: white;
    width: 100% !important;
  }
  .navbar-toggler {
    padding: 7px !important;
    margin-right: 2px !important;
  }
  .application {
    padding: 10px 25px !important;
    margin: 0 auto !important;
    margin-bottom: 10px !important;
  }
}

@media (min-width: 520px) and (max-width: 980px) {
  .navbar-nav {
    margin-left: 0px !important;
    li {
      border-bottom: 1px solid rgb(16, 85, 149);
      padding: 14px 12px !important;
      i {
        color: #fff !important;
      }
      &:hover {
        background-color: rgb(16, 85, 149);
        color: white !important;
      }
    }
  }
  .navbar-collapse {
    background-color: rgb(24, 99, 171);
    color: white;
    width: 100% !important;
  }
  .navbar-toggler {
    padding: 5px !important;
  }
  .application {
    padding: 10px 25px !important;
    margin: 0 auto !important;
    margin-bottom: 10px !important;
  }
}
