.services-page-section {
  *{
    font-family: "Roboto" !important;
  }
  .section-services-img {
    img {
      width: 100%;
      height: 500px;
    }
  }
  .row {
    margin-bottom: 30px;
    h1 {
      text-align: center;
      font-family: "Roboto";
      margin: 50px 0px;
    }
    .services-page-img {
      width: 470px;
      img {
        width: 100%;
        height: 250px;
        border-radius: 5px;
      }
    }
    .services-page-text {
      h3 {
        font-family: "Poppins";
        width: 750px;
        color: rgb(24, 99, 171);
        font-size: 33px;
      }
      p {
        font-family: "Roboto";
        width: 750px;
        font-size: 20px;
      }
      .read-more {
        color: red;
        cursor: pointer;
      }
    }
  }

  .mobile {
    display: none !important;
  }
  .desktop {
    display: block !important;
  }
}

@media (min-width: 10px) and (max-width: 600px) {
  .services-page-section {
    .section-services-img {
      img {
        width: 100%;
        height: 200px;
      }
    }
    .mobile {
      display: block !important;
    }
    .desktop {
      display: none !important;
    }
    .row {
      margin-bottom: 30px;
      h1 {
        margin: 15px 0px !important;
      }
      .services-page-img {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 30px 0px!important;
        img {
          width: 98%;
          border-radius: 5px;
        }
      }
      .services-page-text {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        h3 {
          text-align: center;
          width: 95%;
          font-size: 20px !important;
        }
        p {
          text-align: center;
          width: 95%;
          font-size: 15px !important;
        }
      }
    }
  }
}
