footer {
  padding: 50px;
  background-color: rgb(35, 35, 35);
  color: white;

  .col {
    border: none;
    div {
      display: flex;
      justify-content: space-between;
      ul {
        list-style: none;
        .footer-b {
          margin-bottom: 10px !important;
        }
      }
      ul {
        li {
          b {
            font-family: "Roboto";
            font-size: 24px;
            color: rgb(33, 122, 206);
          }
          font-family: "Roboto";
          font-size: 20px;
          margin-bottom: 10px;
        }
        .footer-links {
          a {
            text-decoration: none;
            color: white;
            &:hover {
              color: rgb(33, 122, 206);
              cursor: pointer;
              transform: translate(10px);
            }
          }
          transition: all 0.3s;
          &:hover {
            color: rgb(33, 122, 206);
            cursor: pointer;
            transform: translate(10px);
          }
        }
        .footer-phone-link {
          display: flex;
          .footer-phone {
            margin-right: 10px;
          }
        }
      }
      .footer-social-media {
        li {
          .footer-service {
            a {
              text-decoration: none;
              color: white;
              background-color: red;
              color: white;
              padding: 10px 20px;
              border-radius: 5px;
              transition: all 0.3s;
              &:hover {
                background-color: rgb(175, 5, 5);
                cursor: pointer;
              }
            }
          }
          i {
            margin-top: 20px;
            font-size: 28px;
            margin-right: 30px !important;
            transition: all 0.3s;
            &:hover {
              cursor: pointer;
              color: rgb(33, 122, 206);
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 10px) and (max-width: 500px) {
  footer {
    .col {
      div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        ul {
          text-align: center;
          border: 1px solid rgb(183, 157, 157);
          padding: 10px !important;
          width: 80%;
          margin: 10px !important;
          .footer-b {
            margin-bottom: 10px !important;
          }
        }
        .footer-social-media {
          border: none;
          li {
            margin: 20px 0px !important;
            .footer-service {
              a {
                padding: 10px 20px !important;
              }
            }
          }
        }
      }
    }

    .footer-contact {
      .footer-links {
        font-size: 17px !important;
      }
    }
    .footer-phone-link {
      display: block !important;
      .footer-phone {
        margin-right: 10px;
      }
    }
  }
}
