.portfolio-two-section {
    *{
        font-family: "Roboto";
    }
    .section-portfolio-page-img {
      img {
        width: 100%;
        height: 600px;
      }
    }
    .carousel-item {
      img {
        width: 100%;
        height: 700px !important;
      }
    }
    .row {
      h1 {
        font-family: "Roboto";
        text-align: center;
        margin: 30px 0px;
        font-size: 45px;
      }
      padding-bottom: 30px;
  
      ul {
        list-style: none;
        margin-left: -30px;
  
        li {
          font-size: 20px;
          b {
            color: rgb(24, 99, 171);
          }
        }
      }
    }
  }
  
  @media (min-width: 10px) and (max-width: 500px) {
    .portfolio-one-section {
      width: 100% !important;
      .section-portfolio-page-img {
        width: 100% !important;
  
        img {
          height: 200px;
        }
      }
      .carousel-inner {
        width: 100% !important;
        // height: 300px !important;
        overflow: hidden !important;
        img {
          width: 100%;
          height: 700px !important;
        }
      }
      .row {
        h1 {
          margin: 15px 0px !important;
        }
        h2 {
          text-align: center;
          margin: 15px 0px !important;
        }
        p {
          text-align: center;
          margin: 5px !important;
        }
        padding-bottom: 30px !important;
        ul {
          list-style: none;
          margin-left: 20px !important;
  
          li {
            font-size: 20px;
            b {
              color: rgb(24, 99, 171);
            }
          }
        }
      }
      .carousel-item {
        img {
          width: 100%;
          height: 80% !important;
        }
      }
    }
  }